body{
    overflow-x: hidden;
    
}
li{
    list-style: none;
display: inline;

margin-left: 20px;

}

header{
    background-color: #FEF7F4;
    width: 1300px;
    margin-left: -30px;
    
}
nav{
    margin: 0px;
    margin-top: -18px;
  
    padding: 10px;
}
#logId{
    background-color: #EB662B;
    padding: 6px;
    color:white;
}
footer{
    width: 1600px;
    background-color: #FEF7F4;
    margin-left: -10px;


}
#p1{
   color: #EB662B;
   padding: 20px;
}

.grandImg{
    
    width: 500px;
    height: 500px;
   
    
    margin-top: 10px;
    
    
    
}
.text1{
   width: 55%;
    
    margin-left: 20px;
  
    
}
#para1{
    font-size: 50px;
    font-weight: bold;
    padding-left: 100px;
    margin-top: -80px;
    
}
#para2{
    padding-left: 100px;
    font-size: 15px;
    margin-top: -30px;
   
}
#para3{
    margin-left:100px ;
    background-color: #EB662B;
    width: 18%;
    padding: 5px;
    color: white;
    font-weight:400;
}
#para4{
    margin-left: 80px;
    margin-top: -100px;
    font-weight:bolder;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#forms tr {
    width: 100%;
}
#forms  td{
 width: 25%;
 
}
.tab2{
    margin: 30px;
    margin-left: 90px;

}
.pre2{
    padding: 50px;
}
.forms_title{
    font-weight: bold;
    padding-top: 30px;
}