header{
    display: flex;
    background-color:#fdf0ea;
   

}
body{
    margin: 0px;
    padding: 0px;
}
ul{
    display: flex;
    list-style: none;
    
    margin-left: 0px;
}
li{
    margin: 10px;
}
button{
    margin: 23px;
}
.logo{
    margin: 10px;
}
.log_btn{
    background-color:#eb662b ;
    border: none;
    padding: 3px;
    width:60px;
    color: white;
    font-weight: 100;
}
.contenet{
    display: flex;
}
.firstPara{
    width: 45%;
    margin: 10px;
    margin-left: 40px;
    
}
#para1{
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 60px;
}
#para2{
    padding-left: 60px;
    margin-top: -10px;
  
}
#explorBtn{
    margin-left:60px;
    width: 120px;
    height: 30px;
    background-color: #eb662b;
    color: white;
    border: none;
    margin-top:-10px ;
}
.prqDiv{
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.forms{
    display: flex;
    margin-left: 90px;
    font-size: 14px;
    padding-left: 0px;
    font-weight: 100;
}
.fomsPara1{
    padding-right: 20px;
}
.fomsPara3{
    padding-right: 20px;
}
.fomsPara2{
    padding-right: 20px;
}
footer{
    background-color: #fdf0ea;
    font-family: Arial, Helvetica, sans-serif;
}
.foot{
    padding: 30px;
}
main{
    padding-bottom: 30px;
}